<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>sintra sample</title>
  </head>
  <body>
    <div>
      <%= @post.title %>
    </div>
    <div>
      <%= @post.contents %>
    </div>
    <a href="/posts">一覧に戻る</a>
  </body>
</html>
